* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  background-color: #fff;

  color: #2e2f42;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}