body.gallery-body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
  background-color: #fff;
}

.gallery {
    padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 1440px;
  margin: 0 auto;
}

.gallery-item {
  width: 360px;
  height: 200px;
  flex-basis: calc((100% - 48px) / 3);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.gallery-item:hover {
  scale: 104%;
}

.gallery-image {
  min-width: 360px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
